.grid-container {
  display: inline-grid;
  padding: 20px;
  grid-template-columns: auto auto auto;
}

.grid-item {
  text-align:center;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.grid-button-item {
  text-align:center;
  padding: 20px;
}

.grid-button-item-opened {
  text-align:center;
  padding: 20px;
  background-color:white;
}

.grid-button-item-bomb {
  text-align:center;
  padding: 20px;
  background-color:red;
}